/** {*/
/*    border: 1px dashed red;*/
/*}*/

:root {
    --correct-bg: #198754;
    --correct-sb: #051B11;
    --incorrect-bg: #DC3545;
    --incorrect-sb: #2C0B0E;
}

.choice-container {
    transition: transform 0.15s;
}

@media (hover: hover){
    .choice-container:hover {
        cursor: pointer;
        box-shadow: 0 0.2rem 0.7rem 0 whitesmoke;
        transform: translateY(-0.1rem);
        transition: transform 0.15s;
    }
}

.choice {
    width: 100%;
    text-align: left;
}

.correct {
    background-color: var(--correct-bg);
}

.incorrect {
    background-color: var(--incorrect-bg);
}
